# Data Exploration - Milan

This notebook explores demographic and real estate data for Paris to analyze gentrification patterns.

In [1]:
# INITIALIZATION

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd


# Set plotting style
sns.set_style('whitegrid')
plt.rcParams['figure.figsize'] = (12, 6)
pd.set_option('display.max_rows', 500)

## Load Data

Load the raw data for Milan from the data directory.

In [10]:
# --- GeoJSON Import ---
#print("Importing GeoJSON files...")
gdf = gpd.read_file("../data/raw/milan/nil_milano.geojson")

# --- CSV Import ---
#print("Importing CSV file...")
# Use the 'python' engine and specify the delimiter to handle potential parsing errors
dati_quartieri = pd.read_csv("../data/raw/milan/dati_quartieri_11-21.csv", sep=';')
dati_residenti = pd.read_csv("../data/raw/milan/residenti_per_cittadinanza_e_quartiere.csv", sep=';')
titoli_studio11 = pd.read_csv("../data/raw/milan/titoli_studio_2011.csv", sep=';', encoding='latin-1')

df = pd.DataFrame()

In [18]:
filtered_columns = [
    'Anno',
    'Quartiere',
    'NIL',
    'Totale',
    'Stranieri',
    'Famiglie registrate in anagrafe',
    'Famiglie unipersonali registrate in anagrafe',
    '80 e più soli fam registrate in anagrafe',
    'Nati vivi',
    '80 e più',
    'Area (metri quadrati)'
]

quartieri_filtered = dati_quartieri[filtered_columns]

quartieri_filtered.head()

,Anno,Quartiere,NIL,Totale,Stranieri,Famiglie registrate in anagrafe,Famiglie unipersonali registrate in anagrafe,80 e più soli fam registrate in anagrafe,Nati vivi,80 e più,Area (metri quadrati)
0,2011,Adriano,17.0,14230.0,2538.0,6942.0,2947.0,243.0,160.0,476.0,"2431560,11"
1,2011,Affori,80.0,23061.0,6276.0,11974.0,5987.0,634.0,229.0,1226.0,"2070893,65"
2,2011,Assiano,87.0,294.0,27.0,121.0,52.0,6.0,4.0,8.0,"5844580,12"
3,2011,Baggio - Q.re degli Olmi - Q.re Valsesia,55.0,29594.0,4545.0,14459.0,6033.0,914.0,230.0,2003.0,"3478599,96"
4,2011,Bande Nere,52.0,43455.0,5915.0,23861.0,11846.0,2040.0,347.0,4443.0,"2663880,93"

In [27]:
# Merge Male and females
new = dati_residenti.groupby(["Anno", "IdNil", "Nil", "Eta", "Cittadinanza"])[["Residenti"]].sum().reset_index()
new.head()

   Anno  IdNil    Nil Eta           Cittadinanza  Residenti
0  1999      1  Duomo   0  Cinese, Rep. Popolare          2
1  1999      1  Duomo   0                 Egitto          1
2  1999      1  Duomo   0                Etiopia          1
3  1999      1  Duomo   0              Filippine          4
4  1999      1  Duomo   0                 Italia        175

## Exploratory Data Analysis

Analyze the characteristics of the neighborhoods in Milan.

In [ ]:
# TODO: Add exploratory analysis